/*
 * Advanced Amoozeshyar
 */

@import url("./vazir/vazir-regular.css");

* {
  font-family: Vazir!important;
}

#loginTable {
  background-image: linear-gradient(to right,#C9D6FF,#E2E2E2);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: unset;
  -moz-box-shadow: unset;
  -webkit-box-shadow: unset;
}

#loginform input {
  font-family: Vazir;
  margin-right: 6px;
  border:1px solid #ced4da;
  padding:.1rem .375rem;
  background-clip:padding-box;
  border-radius:.25rem;
  -moz-border-radius:.25rem;
  -webkit-border-radius:.25rem;
}

.besmeallah {
  -webkit-filter: drop-shadow(5px 5px 2px #fff);
  filter: drop-shadow(5px 5px 2px #fff);
}

#footer img {
  display: none!important;
}

tr a img {
  display: none;
}

.myautocompl {
  position: unset;
  width: unset;
  margin: 1px 5px;
}

#mainmenu {
  overflow: hidden!important;
}